

.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.album {
    color: aliceblue;
}


.movie-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}
.movie-container {
    display: flex; /* Utiliza Flexbox */
    justify-content: space-between; /* Espacia los elementos entre extremos */
    align-items: center; /* Alinea verticalmente al centro */
    padding: 10px; /* Espaciado interno */
    border-bottom: 1px solid #ccc; /* Línea separadora opcional */
}

.star-rating {
    font-size: 20px; /* Ajusta el tamaño de las estrellas */
}

.star-rating .fa-star {
    color: lightgray; /* Color para estrellas vacías */
}

.star-rating .fa-star.filled {
    color: orange; /* Color para estrellas llenas */
}

.star-rating .fa-star.empty {
    color: lightgray; /* Color para estrellas vacías */
}


.movie-details {
    position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-container {
    position: relative; /* Cambiado de absolute a relative */
    text-align: right; /* Alinea el texto a la derecha */
}

.additional-info {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Posiciona el dropdown de manera absoluta */
    right: 0; /* Alinea a la derecha del contenedor */
    top: 100%; /* Asegúrate de que se despliegue justo debajo */
    background-color: #fff; /* Color de fondo del dropdown */
    border: 1px solid #ccc; /* Borde del dropdown */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1000; /* Asegúrate de que el dropdown esté por encima de otros elementos */
}

.dropdown-button {
    color:white;
    margin-top: 10px;
    padding: 10px;
    background-color:	#222222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}
